<p>
  위치 검색
</p>
<form (submit)="searchQuery()">
  <input [(ngModel)]="inputQuery" name="inputQuery" placeholder="Address, Building, Street">
  <button type="submit">Search</button>
</form>

<div *ngIf="searchService.queryResult.rss && searchService.queryResult.rss.channel">
  <p>Search <b>{{inputQuery}}</b> Results <p>
  <ul *ngFor="let channel of searchService.queryResult.rss.channel">
    <li *ngFor="let result of channel.item">
      <hr>
      <span [innerHtml] = "result.title"></span><br />
      <span> 주소 : {{result.address}}</span><br />
      <span> 좌표 : (x : {{result.mapx}}, y: {{result.mapy}}) </span><br />
      <button (click)="AddSourceItem(result)">Add Source</button>
      <button (click)="AddTargetItem(result)">Add Target</button>
    </li>
    <hr>
  </ul>
</div>

<p>
  Address -> Geocode
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Address, Building, Street">
  <button type="submit">Search</button>
</form>


<div *ngIf="geocodeService.names.result">
  <p>Address <b>{{name}}</b> Results</p>
  <ul> 
    <li *ngFor="let item of geocodeService.names.result.items">
      <hr>
      <span [innerHtml] = "item.address"></span><br />
      <span> 주소 : {{item.address}}</span><br />
      <span> 좌표 : (x : {{item.point.x}}, y: {{item.point.y}}) </span><br />
      <button (click)="AddSourceItemAddress(item)">Add Source</button>
      <button (click)="AddTargetItemAddress(item)">Add Target</button>
    </li>
  </ul>
</div>


<ul *ngIf="sourceItems.length > 0">
  <p> Source Items </p>
  <li *ngFor="let item of sourceItems">
    <hr>
    <span [innerHtml] = "item.title"></span><br />
    <span> 주소 : {{item.address}}</span><br />
    <span> x : {{item.mapx}}, y: {{item.mapy}} </span>
  </li>
  <hr>
</ul>

<ul *ngIf="targetItems.length > 0">
  <p> Target Items </p>
  <li *ngFor="let item of targetItems">
    <hr>
    <span [innerHtml] = "item.title"></span><br />
    <span> 주소 : {{item.address}}</span><br />
    <span> x : {{item.mapx}}, y: {{item.mapy}} </span>
  </li>
  <hr>
</ul>



<button *ngIf="sourceItems.length > 0 && targetItems.length > 0" (click)="ExcuteAnalyze()">Analysis</button>

<ul *ngIf="analyzeService.routeResult.length > 0">
  <p> Route Results </p>
  <li *ngFor="let result of analyzeService.routeResult">
    <hr>
    <span [innerHtml] = "result.fromTitle"></span> => <span [innerHtml] = "result.toTitle"></span><br />
    <span>{{result.time}}</span>
  </li>
  <hr>
</ul>