<p>
  위치 검색
</p>
<form (submit)="searchQuery()">
  <input [(ngModel)]="inputQuery" name="inputQuery" placeholder="Address, Building, Street">
  <button type="submit">Search</button>
</form>

<ul *ngIf="searchService.queryResult.rss && searchService.queryResult.rss.channel[0]">
  <li *ngFor="let result of searchService.queryResult.rss.channel[0].item">{{result.title}}</li>
</ul>

<p>
  Address -> Geocode
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Address, Building, Street">
  <button type="submit">Add</button>
</form>


<ul *ngIf="geocodeService.names.result">
  <li *ngFor="let name of nameListService.get() | async">{{name}}</li>
  <li *ngFor="let result of geocodeService.names.result.items">{{result.address}}, ({{result.point.x}}, {{result.point.y}})</li>
</ul>
